/* You can add global styles to this file, and also import other style files */

.course-header {
    background-color: aqua;
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.li {
    font-size: 14px;
    margin-left: 10px;
    list-style-type: circle;
 }